extends layout 

block content
  #captionCarousel.carousel.slide.carousel-fade(data-bs-ride="carousel")
    .carousel-indicators
      button.active(type="button" data-bs-target="#captionCarousel" data-bs-slide-to="0"
      aria-current="true" aria-label="作品サムネイル")
      button(type="button" data-bs-target="#captionCarousel" data-bs-slide-to="1" aria-label="簡単な遊び方の説明")
      button(type="button" data-bs-target="#captionCarousel" data-bs-slide-to="2" aria-label="予告")
    .carousel-inner
      div.carousel-item.active(data-bs-interval="5000")
        //- サムネイルは短め
        img.d-block.w-100(src="/images/thumbnail.png" alt="作品サムネイル")
      div.carousel-item(data-bs-interval="10000")
        //- ゲームの説明は少し長めに表示
        img.d-block.w-100(src="/images/image.png" alt="簡単な遊び方の説明")
      div.carousel-item(data-bs-interval="8000")
        img.d-block.w-100(src="/images/notice.png" alt="予告")
    button.carousel-control-prev(type="button" data-bs-target="#captionCarousel" data-bs-slide="prev")
      span.carousel-control-prev-icon(aria-hidden="true")
      span.visually-hidden Previous
    button.carousel-control-next(type="button" data-bs-target="#captionCarousel" data-bs-slide="next")
      span.carousel-control-next-icon(aria-hidden="true")
      span.visually-hidden Next
      //- カルーセルの設定
  h2.text-center.my-3 プレイヤーネーム
  .row.d-flex.justify-content-center
    .col-xl-4.col-lg-5.col-md-6
      form.input-group(action="/name/config" method="post")
        input.form-control(name="name" maxlength="20" type="text" aria-describedby="submit-button"
        placeholder="20文字まで入力できます")
        input(type="hidden" name="_csrf" value!=csrfToken)
        //- CSRF脆弱性対策
        button#submit-button.btn.btn-outline-primary(type="submit") 決定